
body{
    background-image: url("https://www.publicdomainpictures.net/pictures/30000/velka/bubbles-on-blue-background.jpg");
  
  	animation: animation 10s linear infinite;
    
    color: white;
    font-size: 25px;
    font-family: Arial, Bold, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 600px;
    width: 100%;
    margin: 0 auto;
}
@keyframes animation {

	from { background-position: 0 0 }

	to { background-position: 100% 100% }

} 


.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 2px;
     

    height: 60%;
    width: 50%;
}

input{
  
  width: 100%;  
  padding:  8px;
  margin: 0 auto;
  border-radius: 10px;
  box-sizing: border-box;
}
button{
    background-color: #1e1782;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 80px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

 button:hover{
   background-color: #594ef3;
 } 